<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154353476554-o17mcbkamcucqt1dahct9vu6ju6a3go3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154353476554-o17mcbkamcucqt1dahct9vu6ju6a3go3</string>
	<key>API_KEY</key>
	<string>AIzaSyB04rh1kaWRsurn3CwdVFeMuytEQFeDh90</string>
	<key>GCM_SENDER_ID</key>
	<string>154353476554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>felipetavela.mvvmAuth</string>
	<key>PROJECT_ID</key>
	<string>mvvmauth-f8b08</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmauth-f8b08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154353476554:ios:6e9ab29f2dcde2ac8ce533</string>
</dict>
</plist>